# Byte-compiled
*pyc
*.py[cod]
*$py.class
__pychache__/

# SWAMP library
/swamp/library/distance_mtx/
/swamp/library/gesamt_scan/
/swamp/library/pdb/
/swamp/library/ensembles/
*distance_mtx/
*gesamt_scan/
*pdb/
*ensembles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pycharm config
.idea/

