# Byte-compiled
*pyc
*.py[cod]
*$py.class
__pychache__/

# SWAMP library
/static/distance_mtx/
/static/gesamt_scan/
/static/pdb/
/static/ensembles/
*distance_mtx/
*gesamt_scan/
*pdb/
*ensembles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pycharm config
.idea/

# Sphinx docs
/docs/source/
/docs/_build/
/docs/api/generated/

# CMake build dir
/build/
